/* About.css */

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

/* Footer Styles */
.footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.contact-us {
  flex: 1;
}

.contact-us h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #888;
}
  
  .about-page strong {
    font-weight: bold;
  }
  
  